{% extends "layout.html" %}
{% block body %}
<h2 style="text-align: center; color: wheat;">Welcome to Bidding corner</h2>
{% for rows in bid %}

    <div class="grid-container">
        <div class="grid-item grid-item-1">
            <img src="{{rows[3]}}"
                alt="image" style="height: 150px; width: 200px; display: block; margin: 0 auto;">
            <h3>{{rows[1]}}</h3>
            <h2>Asking Price: {{rows[2]}}</h2>
            <p style="font-weight: bold;">Description: <br>
                {{rows[5]}}
            </p>
            <p style="font-weight: bold;">Condition: <br>
                {{rows[4]}}</p>
            <p style="font-weight: bold;">Tag-Id: {{rows[0]}}</p>
            <a href="/bid" class="cta"><button>Bid</button></a>
        </div>
    {% endfor %}


{% endblock %}